.product-detail {
  display: flex;
  margin-left: 120px;
  padding: 20px;
}

.product-img > img {
  width: 480px;
  height: 480px;
}

.product-infor {
  margin-left: 20px;
}
.product-infor > h3 {
  line-height: 40px;
  font-size: 20px;
  font-weight: bolder;
} 

.product-price {
  font-size: 16px;
  font-weight: 700;
  color: #d1434a;
}

.product-addCart {
  border: 1px solid #ccc;
  padding: 2px;
  border-radius: 3px;
  font-size: 16px;
  margin-left: 10px;
}

.product-addCart:hover {
  color: #d1434a;
}